body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid #000000;
  }
  
  th {
    background-color: #000000;
    color: #ffffff;
  }
  
  td {
    background-color: #ddd;
  }
  
  a {
    display: block;
    width: 89%;
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin: auto;
  }
  
  a:hover {
    background-color: #356895;
    color: #ffffff;
  }
